<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xth.mapper.store.StoreMapper">

    <!-- resultMap begin -->
    <resultMap type="com.xth.model.bo.store.Store" id="StoreResultMap">
        <!-- 0 -->
        <result property="id" column="id"/>
        <!-- 1 -->
        <result property="createdTime" column="created_time"/>
        <!-- 2 -->
        <result property="updatedTime" column="updated_time"/>
        <!-- 3 -->
        <result property="creatorId" column="creator_id"/>
        <!-- 4 -->
        <result property="creator" column="creator"/>
        <!-- 5 -->
        <result property="updaterId" column="updater_id"/>
        <!-- 6 -->
        <result property="updater" column="updater"/>
        <!-- 7 -->
        <result property="lockVersion" column="lock_version"/>
        <!-- 8 -->
        <result property="name" column="name"/>
        <!-- 9 -->
        <result property="companyId" column="company_id"/>
        <!-- 10 -->
        <result property="cityId" column="city_id"/>
        <!-- 11 -->
        <result property="address" column="address"/>
        <!-- 12 -->
        <result property="longitude" column="longitude"/>
        <!-- 13 -->
        <result property="latitude" column="latitude"/>
        <!-- 14 -->
        <result property="contactName" column="contact_name"/>
        <!-- 15 -->
        <result property="contactPhone" column="contact_phone"/>
        <!-- 16 -->
        <result property="storeLevelId" column="store_level_id"/>
        <!-- 17 -->
        <result property="starLevel" column="star_level"/>
        <!-- 18 -->
        <result property="imgUrl" column="img_url"/>
        <!-- 19 -->
        <result property="runYears" column="run_years"/>
        <!-- 20 -->
        <result property="totalArea" column="total_area"/>
        <!-- 21 -->
        <result property="trainingArea" column="training_area"/>
        <!-- 22 -->
        <result property="siteNums" column="site_nums"/>
        <!-- 23 -->
        <result property="totalStuNums" column="total_stu_nums"/>
        <!-- 24 -->
        <result property="inStuNums" column="in_stu_nums"/>
        <!-- 25 -->
        <result property="discountType" column="discount_type"/>
        <!-- 26 -->
        <result property="discountContent" column="discount_content"/>
        <!-- 27 -->
        <result property="isHot" column="is_hot"/>
        <!-- 28 -->
        <result property="hotLevel" column="hot_level"/>
        <!-- 29 -->
        <result property="specialLevel" column="special_level"/>

    </resultMap>

    <resultMap type="com.xth.model.vo.store.StoreVo" id="StoreVoResultMap">
        <!-- 0 -->
        <result property="id" column="id"/>
        <!-- 1 -->
        <result property="createdTime" column="created_time"/>
        <!-- 2 -->
        <result property="updatedTime" column="updated_time"/>
        <!-- 3 -->
        <result property="creatorId" column="creator_id"/>
        <!-- 4 -->
        <result property="creator" column="creator"/>
        <!-- 5 -->
        <result property="updaterId" column="updater_id"/>
        <!-- 6 -->
        <result property="updater" column="updater"/>
        <!-- 7 -->
        <result property="lockVersion" column="lock_version"/>
        <!-- 8 -->
        <result property="name" column="name"/>
        <!-- 9 -->
        <result property="companyId" column="company_id"/>
        <!-- 10 -->
        <result property="cityId" column="city_id"/>
        <!-- 11 -->
        <result property="address" column="address"/>
        <!-- 12 -->
        <result property="longitude" column="longitude"/>
        <!-- 13 -->
        <result property="latitude" column="latitude"/>
        <!-- 14 -->
        <result property="contactName" column="contact_name"/>
        <!-- 15 -->
        <result property="contactPhone" column="contact_phone"/>
        <!-- 16 -->
        <result property="storeLevelId" column="store_level_id"/>
        <!-- 17 -->
        <result property="starLevel" column="star_level"/>
        <!-- 18 -->
        <result property="imgUrl" column="img_url"/>
        <!-- 19 -->
        <result property="runYears" column="run_years"/>
        <!-- 20 -->
        <result property="totalArea" column="total_area"/>
        <!-- 21 -->
        <result property="trainingArea" column="training_area"/>
        <!-- 22 -->
        <result property="siteNums" column="site_nums"/>
        <!-- 23 -->
        <result property="totalStuNums" column="total_stu_nums"/>
        <!-- 24 -->
        <result property="inStuNums" column="in_stu_nums"/>
        <!-- 25 -->
        <result property="discountType" column="discount_type"/>
        <!-- 26 -->
        <result property="discountContent" column="discount_content"/>
        <!-- 27 -->
        <result property="isHot" column="is_hot"/>
        <!-- 28 -->
        <result property="hotLevel" column="hot_level"/>
        <!-- 29 -->
        <result property="specialLevel" column="special_level"/>

    </resultMap>
    <!-- resultMap end -->

    <!-- CRUD begin -->
    <insert id="insert">
        insert into t_store(
        <!-- 0 -->id,
        <!-- 1 -->created_time,
        <!-- 2 -->updated_time,
        <!-- 3 -->creator_id,
        <!-- 4 -->creator,
        <!-- 5 -->updater_id,
        <!-- 6 -->updater,
        <!-- 7 -->lock_version,
        <!-- 8 -->name,
        <!-- 9 -->company_id,
        <!-- 10 -->city_id,
        <!-- 11 -->address,
        <!-- 12 -->longitude,
        <!-- 13 -->latitude,
        <!-- 14 -->contact_name,
        <!-- 15 -->contact_phone,
        <!-- 16 -->store_level_id,
        <!-- 17 -->star_level,
        <!-- 18 -->img_url,
        <!-- 19 -->run_years,
        <!-- 20 -->total_area,
        <!-- 21 -->training_area,
        <!-- 22 -->site_nums,
        <!-- 23 -->total_stu_nums,
        <!-- 24 -->in_stu_nums,
        <!-- 25 -->discount_type,
        <!-- 26 -->discount_content,
        <!-- 27 -->is_hot,
        <!-- 28 -->hot_level,
        <!-- 29 -->special_level
        )
        values(
        <!-- 0 -->#{id},
        <!-- 1 -->#{createdTime},
        <!-- 2 -->#{updatedTime},
        <!-- 3 -->#{creatorId},
        <!-- 4 -->#{creator},
        <!-- 5 -->#{updaterId},
        <!-- 6 -->#{updater},
        <!-- 7 -->#{lockVersion},
        <!-- 8 -->#{name},
        <!-- 9 -->#{companyId},
        <!-- 10 -->#{cityId},
        <!-- 11 -->#{address},
        <!-- 12 -->#{longitude},
        <!-- 13 -->#{latitude},
        <!-- 14 -->#{contactName},
        <!-- 15 -->#{contactPhone},
        <!-- 16 -->#{storeLevelId},
        <!-- 17 -->#{starLevel},
        <!-- 18 -->#{imgUrl},
        <!-- 19 -->#{runYears},
        <!-- 20 -->#{totalArea},
        <!-- 21 -->#{trainingArea},
        <!-- 22 -->#{siteNums},
        <!-- 23 -->#{totalStuNums},
        <!-- 24 -->#{inStuNums},
        <!-- 25 -->#{discountType},
        <!-- 26 -->#{discountContent},
        <!-- 27 -->#{isHot},
        <!-- 28 -->#{hotLevel},
        <!-- 29 -->#{specialLevel}
        )

    </insert>

    <insert id="batchInsert">
        insert into t_store(
        <!-- 0 -->id,
        <!-- 1 -->created_time,
        <!-- 2 -->updated_time,
        <!-- 3 -->creator_id,
        <!-- 4 -->creator,
        <!-- 5 -->updater_id,
        <!-- 6 -->updater,
        <!-- 7 -->lock_version,
        <!-- 8 -->name,
        <!-- 9 -->company_id,
        <!-- 10 -->city_id,
        <!-- 11 -->address,
        <!-- 12 -->longitude,
        <!-- 13 -->latitude,
        <!-- 14 -->contact_name,
        <!-- 15 -->contact_phone,
        <!-- 16 -->store_level_id,
        <!-- 17 -->star_level,
        <!-- 18 -->img_url,
        <!-- 19 -->run_years,
        <!-- 20 -->total_area,
        <!-- 21 -->training_area,
        <!-- 22 -->site_nums,
        <!-- 23 -->total_stu_nums,
        <!-- 24 -->in_stu_nums,
        <!-- 25 -->discount_type,
        <!-- 26 -->discount_content,
        <!-- 27 -->is_hot,
        <!-- 28 -->hot_level,
        <!-- 29 -->special_level
        )
        SELECT t_store_seq.NEXTVAL,A.* FROM (
        <foreach collection="list" item="item" index="index" separator="union all">
            SELECT
            <!-- 0 -->#{item.createdTime},
            <!-- 1 -->#{item.updatedTime},
            <!-- 2 -->#{item.creatorId},
            <!-- 3 -->#{item.creator},
            <!-- 4 -->#{item.updaterId},
            <!-- 5 -->#{item.updater},
            <!-- 6 -->#{item.lockVersion},
            <!-- 7 -->#{item.name},
            <!-- 8 -->#{item.companyId},
            <!-- 9 -->#{item.cityId},
            <!-- 10 -->#{item.address},
            <!-- 11 -->#{item.longitude},
            <!-- 12 -->#{item.latitude},
            <!-- 13 -->#{item.contactName},
            <!-- 14 -->#{item.contactPhone},
            <!-- 15 -->#{item.storeLevelId},
            <!-- 16 -->#{item.starLevel},
            <!-- 17 -->#{item.imgUrl},
            <!-- 18 -->#{item.runYears},
            <!-- 19 -->#{item.totalArea},
            <!-- 20 -->#{item.trainingArea},
            <!-- 21 -->#{item.siteNums},
            <!-- 22 -->#{item.totalStuNums},
            <!-- 23 -->#{item.inStuNums},
            <!-- 24 -->#{item.discountType},
            <!-- 25 -->#{item.discountContent},
            <!-- 26 -->#{item.isHot},
            <!-- 27 -->#{item.hotLevel},
            <!-- 28 -->#{item.specialLevel}
            FROM DUAL
        </foreach>
        ) A
    </insert>

    <update id="update">
        update t_store
        <include refid="updateSetSql"/>
        where id=#{id} and lock_version=#{lockVersion}
    </update>

    <sql id="updateSetSql">
        <set>
            <if test="createdTime !=null ">
                <!-- 0 -->created_time=#{createdTime},
            </if>
            <if test="updatedTime !=null ">
                <!-- 1 -->updated_time=#{updatedTime},
            </if>
            <if test="creatorId !=null ">
                <!-- 2 -->creator_id=#{creatorId},
            </if>
            <if test="creator!=null and creator!='' ">
                <!-- 3 -->creator=#{creator},
            </if>
            <if test="updaterId !=null ">
                <!-- 4 -->updater_id=#{updaterId},
            </if>
            <if test="updater!=null and updater!='' ">
                <!-- 5 -->updater=#{updater},
            </if>
            <!-- 6 -->lock_version=#{lockVersion}+1,
            <if test="name!=null and name!='' ">
                <!-- 7 -->name=#{name},
            </if>
            <if test="companyId !=null ">
                <!-- 8 -->company_id=#{companyId},
            </if>
            <if test="cityId !=null ">
                <!-- 9 -->city_id=#{cityId},
            </if>
            <if test="address!=null and address!='' ">
                <!-- 10 -->address=#{address},
            </if>
            <if test="longitude!=null and longitude!='' ">
                <!-- 11 -->longitude=#{longitude},
            </if>
            <if test="latitude!=null and latitude!='' ">
                <!-- 12 -->latitude=#{latitude},
            </if>
            <if test="contactName!=null and contactName!='' ">
                <!-- 13 -->contact_name=#{contactName},
            </if>
            <if test="contactPhone!=null and contactPhone!='' ">
                <!-- 14 -->contact_phone=#{contactPhone},
            </if>
            <if test="storeLevelId !=null ">
                <!-- 15 -->store_level_id=#{storeLevelId},
            </if>
            <if test="starLevel !=null ">
                <!-- 16 -->star_level=#{starLevel},
            </if>
            <if test="imgUrl!=null and imgUrl!='' ">
                <!-- 17 -->img_url=#{imgUrl},
            </if>
            <if test="runYears !=null ">
                <!-- 18 -->run_years=#{runYears},
            </if>
            <if test="totalArea!=null and totalArea!='' ">
                <!-- 19 -->total_area=#{totalArea},
            </if>
            <if test="trainingArea!=null and trainingArea!='' ">
                <!-- 20 -->training_area=#{trainingArea},
            </if>
            <if test="siteNums !=null ">
                <!-- 21 -->site_nums=#{siteNums},
            </if>
            <if test="totalStuNums !=null ">
                <!-- 22 -->total_stu_nums=#{totalStuNums},
            </if>
            <if test="inStuNums !=null ">
                <!-- 23 -->in_stu_nums=#{inStuNums},
            </if>
            <if test="discountType !=null ">
                <!-- 24 -->discount_type=#{discountType},
            </if>
            <if test="discountContent!=null and discountContent!='' ">
                <!-- 25 -->discount_content=#{discountContent},
            </if>
            <if test="isHot !=null ">
                <!-- 26 -->is_hot=#{isHot},
            </if>
            <if test="hotLevel !=null ">
                <!-- 27 -->hot_level=#{hotLevel},
            </if>
            <if test="specialLevel !=null ">
                <!-- 28 -->special_level=#{specialLevel}
            </if>

        </set>
    </sql>

    <delete id="delete">
        delete from t_store where id = #{id}
    </delete>

    <delete id="deleteByIdList">
        delete from t_store t where t.id in
        <foreach collection="list" index="dex" item="item" open="("
                 close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <select id="findBo" resultMap="StoreResultMap">
        select * from t_store where id
        = #{id}
    </select>

    <select id="findVo" resultMap="StoreVoResultMap">
        select * from t_store where
        id = #{id}
    </select>

    <select id="listBoBySo" resultMap="StoreResultMap">
        select t.* from t_store t
        <include refid="soSqlFilter"/>
        order by id desc
    </select>

    <select id="listIdBySo" resultType="long">
        select t.id from t_store t
        <include refid="soSqlFilter"/>
    </select>

    <select id="listVoBySo" resultMap="StoreVoResultMap">
        select t.* from t_store t
        <include refid="soSqlFilter"/>
        order by id desc
    </select>

    <select id="countBySo" resultType="int">
        select count(1) from t_store t
        <include refid="soSqlFilter"/>
    </select>

    <select id="listVoByIdList" resultMap="StoreVoResultMap">
        select * from t_store t where t.id in
        <foreach collection="list" index="dex" item="item" open="("
                 close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="listBoByIdList" resultMap="StoreResultMap">
        select * from t_store t where t.id in
        <foreach collection="list" index="dex" item="item" open="("
                 close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <sql id="soSqlFilter">
        <where>
            <include refid="soSqlFilterRef"/>
            <if test="id !=null ">
                and t.id = #{id}
            </if>
            <if test="creatorId !=null ">
                and t.creator_id = #{creatorId}
            </if>
            <if test="creator !=null and creator !='' ">
                and t.creator = #{creator}
            </if>
            <if test="updaterId !=null ">
                and t.updater_id = #{updaterId}
            </if>
            <if test="updater !=null and updater !='' ">
                and t.updater = #{updater}
            </if>
            <if test="name !=null and name !='' ">
                and t.name = #{name}
            </if>
            <if test="companyId !=null ">
                and t.company_id = #{companyId}
            </if>
            <if test="cityId !=null ">
                and t.city_id = #{cityId}
            </if>
            <if test="address !=null and address !='' ">
                and t.address = #{address}
            </if>
            <if test="longitude !=null and longitude !='' ">
                and t.longitude = #{longitude}
            </if>
            <if test="latitude !=null and latitude !='' ">
                and t.latitude = #{latitude}
            </if>
            <if test="contactName !=null and contactName !='' ">
                and t.contact_name = #{contactName}
            </if>
            <if test="contactPhone !=null and contactPhone !='' ">
                and t.contact_phone = #{contactPhone}
            </if>
            <if test="storeLevelId !=null ">
                and t.store_level_id = #{storeLevelId}
            </if>
            <if test="starLevel !=null ">
                and t.star_level = #{starLevel}
            </if>
            <if test="imgUrl !=null and imgUrl !='' ">
                and t.img_url = #{imgUrl}
            </if>
            <if test="runYears !=null ">
                and t.run_years = #{runYears}
            </if>
            <if test="totalArea !=null and totalArea !='' ">
                and t.total_area = #{totalArea}
            </if>
            <if test="trainingArea !=null and trainingArea !='' ">
                and t.training_area = #{trainingArea}
            </if>
            <if test="siteNums !=null ">
                and t.site_nums = #{siteNums}
            </if>
            <if test="totalStuNums !=null ">
                and t.total_stu_nums = #{totalStuNums}
            </if>
            <if test="inStuNums !=null ">
                and t.in_stu_nums = #{inStuNums}
            </if>
            <if test="discountType !=null ">
                and t.discount_type = #{discountType}
            </if>
            <if test="discountContent !=null and discountContent !='' ">
                and t.discount_content = #{discountContent}
            </if>
            <if test="isHot !=null ">
                and t.is_hot = #{isHot}
            </if>
            <if test="hotLevel !=null ">
                and t.hot_level = #{hotLevel}
            </if>
            <if test="specialLevel !=null ">
                and t.special_level = #{specialLevel}
            </if>
            <if test="idList !=null and idList.size() > 0 ">
                and t.id in
                <foreach collection="idList" index="dex" item="item" open="("
                         close=")" separator=",">
                    #{item}
                </foreach>
            </if>

        </where>
    </sql>
    <!-- CRUD end -->

    <!-- business begin -->
    <sql id="soSqlFilterRef">
        <if test="fuzzyContent !=null and fuzzyContent != ''">
            and t.name like CONCAT('%',#{fuzzyContent},'%') or t.CONTACT_NAME like CONCAT('%' ,#{fuzzyContent}, '%')
        </if>
    </sql>
    <!-- business end -->
</mapper>
